app-radio-item {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  & .radio-wrap {
    width: 14px;
    height: 14px;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin: 0 5px;
  }
  & .radio-circle {
    width: 8px;
    height: 8px;
    background: black;
    border-radius: 50%;
  }
}

.disabled{
  cursor: not-allowed !important;
  opacity: 0.7;
  outline: none !important;
}
