<label [for]="identifier">
  <input type="checkbox" [ngModel]="value" [disabled]="disabled" (ngModelChange)="switchCheckbox($event)"
         [id]="identifier">
  <span
    class="svg-wrapper"
    [class.active]="value"
    [class.disabled]="disabled"
    [inlineSVG]="checkboxSvg"></span>
  <ng-content></ng-content>
</label>

