app-typeahead{
  display: flex;
  flex-direction: column;
  border-radius: 0.25rem;
  background: white;
  width: 100%;
  order: 1;
  position: relative;
  .form-control{
    order: 0;
  }
  .clear{
    position: absolute;
    z-index: 999;
    top: 7px;
    right: 10px;
    cursor: pointer;
  }
  .typeahead{
    &__list{
      position: relative;
      background: white;
      &-items{
        border: 1px solid #dedfdf;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 2px;
        max-height: 160px;
        overflow-y: auto;
        z-index: 999;
      }
    }
    &__placeholder{
      padding: 5px 10px;
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
    }
  }
}
