:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
}

h1 {
  margin: 0;
  padding: 1em;
}

img {
  width: 100%;
  max-width: 500px;
  height: auto;
}

.overlay-content {
  padding: 1em;
}
