<!--<ng-container *ngIf="options?.length > 0">-->
  <div class="group-label" *ngIf="!nonGroup">{{label}}</div>
  <div class="options-group" [class.non-group]="nonGroup">
    <ng-content select="app-option"></ng-content>
    <ng-content select="app-options-group"></ng-content>
  </div>
<!--</ng-container>-->

