  <div (click)="toggleDropdown()" class="dropdown__placeholder"
       [ngStyle]="{'padding-left.px': inputPaddingLeft, 'padding-right.px': inputPaddingRight}">
    <span>
      <span *ngIf="!customPlaceholder || value">{{placeholder}}</span>
    </span>
    <span *ngIf="!showDropdown"><i class="fas fa-caret-down"></i></span>
    <span *ngIf="showDropdown"><i class="fas fa-caret-up"></i></span>
  </div>
  <div class="dropdown__list" *ngIf="showDropdown">
    <div class="dropdown__list-items" [@flyInOut]="showDropdown">
      <input class="form-control" placeholder="Type for search" type="text" [formControl]="dropDownSearch" *ngIf="searchable">
      <app-option [value]="noneField.value" *ngIf="noneField">{{noneField.label}}</app-option>
      <ng-content select="app-option"></ng-content>
      <ng-content select="app-options-group"></ng-content>
      <app-option [emmitable]="false" *ngIf="notFound">Nothing Found</app-option>
    </div>
  </div>
