app-dropdown{
  display: flex;
  flex-direction: column;
  border: 1px solid #dedfdf;
  border-radius: 0.25rem;
  background: white;
  width: 100%;
  order: 1;
  .form-control{
    order: 0;
  }
  .dropdown{
    &__list{
      position: relative;
      background: white;
      &-items{
        border: 1px solid #dedfdf;
        width: 100%;
        display: flex;
        flex-direction: column;
        position: absolute;
        max-height: 120px;
        overflow-y: auto;
        z-index: 999;
      }
    }
    &__placeholder{
      padding: .375rem .75rem;
      display: flex;
      cursor: pointer;
      justify-content: space-between;
      align-items: center;
      height: 100%;
    }
  }
}
