form{
  display: flex;
  flex-direction: column;
}

button{
  align-self: center;
}

.standalone-radio-checked{
  background: lightblue;
  color: white;
}

.anchor {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 20px;
  background: black;
}
