<div class="container">
  <a routerLink="/products/test">Test</a>
  <button class="btn btn-success" (click)="openModal()">Open Modal</button>
  <form [formGroup]="addForm" (submit)="submit($event)">

    <app-input-container>
      <app-label>Test Typeahead</app-label>
      <app-typeahead key="test" formControlName="testTypeadhead" appInput></app-typeahead>
      <app-placeholder>
        <i class="fas fa-address-card"></i>
        Some Placeholder
      </app-placeholder>
      <app-hint>Some hint</app-hint>
    </app-input-container>

    <app-input-container>
      <app-label>Type</app-label>
      <app-radio-group formControlName="type" appInput [vertical]="true">
        <app-radio-item [value]="1">Type 1</app-radio-item>
        <app-radio-item [value]="2">Type 2</app-radio-item>
        <app-radio-item [value]="3">Type 3</app-radio-item>
        <app-radio-item [value]="4">Type 4</app-radio-item>
        <app-radio-item [value]="5">Type 5</app-radio-item>

      </app-radio-group>
    </app-input-container>

    <app-input-container [novalidate]="true">
      <app-label>Typeahead</app-label>
      <app-affix type="prefix" [transparent]="true"><i class="fas fa-dollar-sign"></i></app-affix>
      <app-typeahead key="search" formControlName="typeahead" appInput></app-typeahead>
      <app-placeholder>
        <i class="fas fa-address-card"></i>
        Some Placeholder
      </app-placeholder>
      <app-hint>Some hint</app-hint>
    </app-input-container>

    <app-input-container>
      <app-label position="right">Title</app-label>
      <input type="text" formControlName="title" appInput [required]="true">
      <app-affix><i class="fas fa-clipboard-check"></i></app-affix>
      <app-placeholder>
        <i class="fas fa-address-card"></i>
        Some Placeholder
      </app-placeholder>
      <app-error key="minlength">Min length is 50 symbols</app-error>
      <app-server-error [key]="['title']" [error]="serverError"></app-server-error>
    </app-input-container>

    <app-input-container>
      <app-label>Are You Agree?</app-label>
      <app-checkbox formControlName="agree" appInput></app-checkbox>
    </app-input-container>

    <app-input-container>
      <app-label>Price</app-label>
      <input type="text" formControlName="price" appInput [required]="true">
      <app-affix type="prefix" [transparent]="true"><i class="fas fa-dollar-sign"></i></app-affix>
      <!--<app-affix type="suffix" [transparent]="true">-->
        <!--<span class="test-icon">-->
          <!--<i class="fas fa-envelope-open"></i>-->
        <!--</span>-->
      <!--</app-affix>-->
      <app-placeholder>
        <i class="fas fa-address-card"></i>
        Some Placeholder
      </app-placeholder>
      <app-hint>hint</app-hint>
      <app-server-error [key]="['price']" [error]="serverError"></app-server-error>
    </app-input-container>

    <app-input-container>
      <app-label>Details</app-label>
      <textarea type="text" formControlName="details" appInput></textarea>
      <app-hint position="right">{{addForm.get('details')?.value?.length || 0}} / 300</app-hint>
      <app-placeholder>
        <i class="fas fa-address-card"></i>
        Some Placeholder
      </app-placeholder>
      <app-server-error [key]="['details']" [error]="serverError"></app-server-error>
    </app-input-container>

    <app-input-container>
      <app-label>Car</app-label>
      <app-placeholder>
        <i class="fas fa-address-card"></i>
        Some Placeholder
      </app-placeholder>
      <!--<app-affix type="prefix" [transparent]="true">-->
        <!--<span class="test-icon">-->
          <!--<i class="fas fa-envelope-open"></i>-->
        <!--</span>-->
      <!--</app-affix>-->
      <app-dropdown formControlName="car" appInput [noneField]="false" [searchable]="true">
        <app-options-group label="BMW">
          <app-option [value]="1">M3</app-option>
          <app-option [value]="2">Cargo</app-option>
        </app-options-group>
        <app-options-group label="Mercedes">
          <app-option [value]="3">Benz</app-option>
          <app-option [value]="4">Sprinter</app-option>
          <app-options-group label="Models">
            <app-option [value]="5">Model 1</app-option>
            <app-option [value]="6">Model 2</app-option>
            <app-option [value]="7">Model 3</app-option>
            <app-options-group label="Test">
              <app-option [value]="12">Test 1</app-option>
              <app-option [value]="13">Test 2</app-option>
            </app-options-group>
          </app-options-group>
        </app-options-group>
        <app-option [value]="null">None</app-option>
      </app-dropdown>
    </app-input-container>


    <ng-container formGroupName="contacts">
      <app-input-container>
        <app-label>Email</app-label>
        <input placeholder="Type Email Here" type="text" formControlName="email" appInput [required]="true">
        <app-affix [transparent]="true" [fontSize]="14" [type]="'suffix'">@example.com</app-affix>
        <app-error key="email">Wrong Email Address</app-error>
        <app-server-error [key]="['contacts', 'email']" [error]="serverError"></app-server-error>
      </app-input-container>


      <ng-container formGroupName="address">
        <app-input-container>
          <app-label>Street</app-label>
          <input type="text" formControlName="street" appInput>
          <app-server-error [key]="['contacts', 'address', 'street']" [error]="serverError"></app-server-error>
        </app-input-container>

        <app-input-container>
          <app-label>City</app-label>
          <app-dropdown placeholder="Select City" formControlName="city" appInput [required]="true" [searchable]="true"
                        [noneField]="false">
            <app-option [value]="null">None</app-option>
            <app-option [value]="1">New York</app-option>
            <app-option [value]="2">Washington</app-option>
            <app-option [value]="3">Chicago</app-option>
            <app-option [value]="4">San Andreas</app-option>
            <app-option [value]="5">Alabama</app-option>
            <app-option [value]="6">Other</app-option>
          </app-dropdown>
          <app-affix type="prefix"><i class="fas fa-clipboard-check"></i></app-affix>
          <app-hint>Some hint</app-hint>

        </app-input-container>


        <app-input-container>
          <app-label>District</app-label>
          <app-affix type="prefix" [transparent]="true"><i class="fas fa-clipboard-check"></i></app-affix>
          <app-affix type="suffix" [transparent]="true"><i class="fas fa-clipboard-check"></i></app-affix>
          <app-dropdown formControlName="district" appInput [required]="true" [searchable]="true">
            <app-options-group [nonGroup]="true">
              <app-option *ngFor="let option of nonGroups" [value]="option.value">{{option.label}}</app-option>
            </app-options-group>
            <app-options-group [label]="group.label" *ngFor="let group of recursiveItems">
              <app-option *ngFor="let option of group.group" [value]="option.value">{{option.label}}</app-option>
            </app-options-group>
            <!--<app-option *ngFor="let option of options" [value]="option.value">{{option.label}}</app-option>-->
            <!--<ng-container *ngFor="let item of recursiveItems">-->
              <!--<app-option [value]="item.value" *ngIf="!item.group">{{item.label}}</app-option>-->
              <!--<app-options-group *ngIf="item.group">-->
                <!--<app-option *ngFor="let i of item.group" [value]="i.value">{{i.label}}</app-option>-->
              <!--</app-options-group>-->
            <!--</ng-container>-->
            <!--<ng-container *ngTemplateOutlet="recoursiveGroups; context: {items: recursiveItems}"></ng-container>-->
          </app-dropdown>
          <app-hint>Some hint</app-hint>
        </app-input-container>
      </ng-container>
    </ng-container>
    <app-server-error [key]="['non_field_error']" [validationStrategy]="nonErrorFieldStrategy"
                      [error]="serverError"></app-server-error>
    <button class="btn btn-success">Submit</button>
  </form>

  <!--<app-input-container>-->
  <!--<app-label>No Form</app-label>-->
  <!--<input type="text" appInput [(ngModel)]="nonForm">-->
  <!--</app-input-container>-->


  <!--<app-input-container>-->
    <!--<app-label>City</app-label>-->
    <app-dropdown placeholder="Select City" [searchable]="true" [(ngModel)]="nonForm">
      <app-option [value]="1">New York</app-option>
      <app-option [value]="2">Washington</app-option>
      <app-option [value]="3">Los Angeles</app-option>
      <app-option [value]="1">New York</app-option>
      <app-option [value]="2">Washington</app-option>
      <app-option [value]="3">Los Angeles</app-option>
    </app-dropdown>
  <!--</app-input-container>-->

  <!--<app-radio-group [(ngModel)]="standaloneRadio">-->
    <!--<app-radio-item [value]="1">Type 1</app-radio-item>-->
    <!--<app-radio-item [value]="2">Type 2</app-radio-item>-->
  <!--</app-radio-group>-->
  <!--<div appRadioGroup [(ngModel)]="standaloneRadio" [pressOut]="true">-->
    <!--<button class="btn" appRadio [value]="1">Type 1</button>-->
    <!--<button class="btn" appRadio [value]="2">Type 2</button>-->
  <!--</div>-->

  <!--<div appRadioGroup [(ngModel)]="nonForm" [pressOut]="true">-->
    <!--<button class="btn" appRadio [value]="1">Type 1</button>-->
    <!--<button class="btn" appRadio [value]="2">Type 2</button>-->
  <!--</div>-->

  <!--<app-input-container>-->
    <!--<app-checkbox [(ngModel)]="nonForm"></app-checkbox>-->
  <!--</app-input-container>-->

  <!--<app-radio-group [(ngModel)]="nonForm">-->
    <!--<app-radio-item [value]="1">Type 1</app-radio-item>-->
    <!--<app-radio-item [value]="2">Type 2</app-radio-item>-->
  <!--</app-radio-group>-->

  <pre>{{standaloneRadio}}</pre>

  <pre>{{nonForm}}</pre>

  <pre>{{control.value}}</pre>

  <pre>{{addForm.value | json}}</pre>

  <ng-template #modal>
    Modal Template
  </ng-template>


</div>
<div class="anchor" #anchor></div>


