app-input-container {
  display: flex;
  flex-direction: column;
  margin-bottom: 0.5rem;
}

app-input-container label {
  display: flex;
  align-items: center;
}

app-input-container app-label.label-right {
  margin-left: auto;
}

app-input-container .required-mark {
  margin-left: 0.25rem;
}

app-input-container .form-control {
  display: block;
  width: 100%;
  z-index: 100;
  padding: .375rem .75rem;
  font-size: 1rem;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: .25rem;
  transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
  order: 1;
}

app-input-container .input-wrap {
  display: flex;
  width: 100%;
  position: relative;
}

app-input-container .has-error {
  border: 1px solid red;
}

app-input-container .focused {
  border: 1px solid #80bdff;
  background-color: #fff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, .25);
}

app-input-container .input-right {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

app-input-container .input-left {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

app-input-container app-error, app-server-error {
  padding: 5px;
  margin: 0.2rem 0 0.5rem;
  border: 1px solid #f5c6cb;
  border-radius: .25rem;
  color: #721c24;
  background-color: #f8d7da;
}

app-input-container app-affix {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: .375rem .5rem;
  box-sizing: border-box;
  height: 38px;
  min-width: 30px;
}

app-input-container .app-affix-background {
  background: #dedfdf;
  border-right: 1px solid #ced4da;
  border-radius: 0.25rem;
}

app-input-container .app-affix-suffix {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  order: 2;
}

app-input-container .app-affix-prefix-transparent {
  position: absolute;
  z-index: 555;
  top: 0;
  left: 0;
}

app-input-container .app-affix-prefix {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  order: 0;
}

app-input-container .app-affix-suffix-transparent {
  position: absolute;
  z-index: 555;
  top: 0;
  right: 0;
}

app-input-container app-hint {
  font-size: 12px;
  opacity: 0.7;
}

app-input-container app-placeholder {
  position: absolute;
  z-index: 555;
  opacity: 0.7;
  left: 15px;
  pointer-events: none;
  height: 38px;
  line-height: 38px;
}
